@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #0a0f1c;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding: 100px 10%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-title {
  font-size: 2.5rem;
  color: #14b8a6;
  margin-bottom: 40px;
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.btn {
  background: #14b8a6;
  color: black;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #06b6d4;
}

